<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Menu Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5" >


    <form th:action="@{/admin/validateMenuItem}" method="post" th:object="${menuItem}">

            <div class="row">
                <div class="form-group col-md-6" th:object="${menu}">

                    <label for="menuName" class="col-form-label">Menu name</label>
                    <input type="text" th:field="*{menuName}" class="form-control" id="menuName"
                           placeholder="Menu name">
                    <input type="hidden" name="menu_id" th:value="${menu_id}" />
                    <span th:if="${#fields.hasErrors('menuName')}" th:errors="*{menuName}"
                          class="text-danger"></span>
                </div>


            </div>

            <label for="menuItemName" class="col-form-label">Menu item name</label>
            <input type="text" th:field="*{menuItemName}" class="form-control" id="menuItemName"
                   placeholder="Menu item name">
            <span th:if="${#fields.hasErrors('menuItemName')}" th:errors="*{menuItemName}"
                  class="text-danger"></span>

            <label for="menuItemImagePath" class="col-form-label">Menu item image</label>
            <input type="text" th:field="*{menuItemImagePath}" class="form-control" id="menuItemImagePath"
                   placeholder="Menu item image path">
            <span th:if="${#fields.hasErrors('menuItemImagePath')}" th:errors="*{menuItemImagePath}"
                  class="text-danger"></span>

            <label for="menuItemPrice" class="col-form-label">Menu item price</label>
            <input type="text" th:field="*{menuItemPrice}" class="form-control" id="menuItemPrice"
                   placeholder="Menu item price">
            <span th:if="${#fields.hasErrors('menuItemPrice')}" th:errors="*{menuItemPrice}"
                  class="text-danger"></span>

            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Add Menu Item">
                </div>
            </div>

    </form>
    <form th:action="@{/showItems}" method="post">
        <input type="hidden" name="menu_id" th:value="${menu_id}" />
        <input type="submit" class="btn btn-primary" value="Submit Menu">
    </form>

    <div th:if="${menu.menuItems.size() > 0}">
   <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image path</th>
        </tr>
        </thead>
        <tbody th:object="${menu}">
        <tr th:each="item: ${menu.menuItems}">
            <td th:text="${item.menuItemName}"></td>
            <td th:text="${item.menuItemPrice}"></td>
            <td th:text="${item.menuItemImagePath}"></td>
            <td>
                <form th:action="@{/admin/deleteItem}" method="post">
                    <input type="hidden" name="menuItem_id" th:value="${item.item_id}"/>
                    <input type="hidden" name="menu_id" th:value="${menu_id}"/>
                    <input type="submit" class="btn btn-primary" value="remove">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

</div>
</body>
</html>