<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container my-5" >

    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/validateMenuItem}" method="post" th:object="${menuItem}">

                <label for="menuItemName" class="col-form-label">Menu item name</label>
                <input type="text" th:field="*{menuItem.menuItemName}" class="form-control" id="menuItemName"
                       placeholder="Menu item name">
                <span th:if="${#fields.hasErrors('menuItemName')}" th:errors="*{menuItem.menuItemName}"
                      class="text-danger"></span>

                <label for="menuItemImagePath" class="col-form-label">Menu item image</label>
                <input type="text" th:field="*{menuItem.menuItemImagePath}" class="form-control" id="menuItemImagePath"
                       placeholder="Menu item image path">
                <span th:if="${#fields.hasErrors('menuItemImagePath')}" th:errors="*{menuitem.menuItemImagePath}"
                      class="text-danger"></span>

                <label for="menuItemPrice" class="col-form-label">Menu item price</label>
                <input type="text" th:field="*{menuitem.menuItemPrice}" class="form-control" id="menuItemPrice"
                       placeholder="Menu item price">
                <span th:if="${#fields.hasErrors('menuItemPrice')}" th:errors="*{menuitem.menuItemPrice}"
                      class="text-danger"></span>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Menu Item">
                    </div>
                </div>
            </form>
        </div>

</div>
</div>
</body>
</html>-->