<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>;., ,..,
<body>
<div th:replace="~{components/navBar :: navBar}"></div>
<table class="table table-striped table-responsive-md">
  <thead>
  <tr>
    <th>Name</th>
    <th>total Price</th>
    <th>Image path</th>
  </tr>
  </thead>
  <tbody th:object="${cartItems}">
  <tr th:each="cartItem: ${cartItems}">
    <td th:text="${cartItem.item.menuItemName}"></td>
    <td th:text="${cartItem.item.menuItemPrice * cartItem.amount}"></td>
    <td th:text="${cartItem.item.menuItemImagePath}"></td>
    <td>
      <div class="d-flex align-items-center">
        <form th:action="@{/admin/decreaseQuantity}" method="post">
          <input type="hidden" name="menuItem_id" th:value="${cartItem.item.item_id}"/>
          <button type="submit" class="btn btn-primary btn-sm">-</button>
        </form>
        <form th:action="@{/admin/setQuantity}"  method="post" onkeydown="submitOnEnter(event)">
          <input type="hidden" name="menuItem_id" th:value="${cartItem.item.item_id}"/>
          <input type="text" name = "amount" th:value="${cartItem.amount}"/>
        </form>

        <script>
          function submitOnEnter(event) {
            if (event.keyCode === 13) {
              event.preventDefault(); // Prevent form submission
              event.target.form.submit(); // Submit the form
            }
          }
        </script>

        <!--        -->
        <form th:action="@{/admin/increaseQuantity}" method="post">
          <input type="hidden" name="menuItem_id" th:value="${cartItem.item.item_id}"/>
          <button type="submit" class="btn btn-primary btn-sm">+</button>
        </form>
      </div>
    </td>
    <td>
      <form th:action="@{/admin/removeFromCart}" method="post">
        <input type="hidden" name="menuItem_id" th:value="${cartItem.item.item_id}"/>
        <button type="submit" class="btn btn-primary btn-sm">Remove</button>
      </form>

    <!--<form th:action="@{/admin/removeFromCart}" method="post">
      <input type="hidden" name="menuItem_id" th:value="${cartItem.item.item_id}"/>
      <input type="submit" class="btn btn-primary" value="remove">
    </form>-->
  </td>

  </tr>
  </tbody>
</table>
</body>
</html>