.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 20rem;
    margin: 5px;
    align-items: center;
    padding: 5px;
}

.card-img-top {

}

.container {
    margin-top: 100px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}